* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a4764;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc {
  width: 450px;
  padding: 20px;
}

.calc form {
  display: grid;
  width: 100%;
  background-color: #232c43;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
}
.calc form input {
  height: 50px;
  border-radius: 5px;
  color: #444b5a;
  background-color: #eae3dc;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}

.calc form input:hover {
  box-shadow: 0 2px 1px 1px #b4a597;
}

.calc form .del-clear-btn {
  background-color: #637097;
  color: white;
  grid-column: span;
}

.calc form .result {
  background-color: #d03f2f;
  color: white;
  grid-column: span 2;
}

.calc form .del-clear-btn.clear {
  grid-column: span 2;
}

.calc form input[type="text"] {
  grid-column: span 4;
  background-color: #182034;
  text-align: right;
  padding: 0 10px;
  color: white;
  box-shadow: none;
}
